SpringBootBiblioteca/newXMLDocument.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="libro" type="tipo_libro"/>

    <xs:complexType name="tipo_libro">
      <xs:all>
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="autor" type="xs:string" />
        <xs:element name="editorial" type="xs:string" />
      </xs:all>
    </xs:complexType>
</xs:schema>

<libro>
  <titulo>El señor de los anillos</titulo>
  <editorial>Tirant Lo Blanch</editorial>
  <autor>John Ronald Ruelen Tolkien</autor>
</libro>